---
import "../styles/About.css";
---

<section id="about">
    <h2>Sobre Nosotros</h2>
    <p>Bienvenidos a Paraíso Nevado, el destino ideal para unas vacaciones inolvidables en la nieve. Ubicado en lo alto de majestuosas montañas, nuestro refugio ofrece paisajes de ensueño cubiertos de blanco. Disfruta de emocionantes actividades como esquí, snowboard y paseos en trineo, o simplemente relájate junto a la chimenea con una taza de chocolate caliente. Contamos con acogedoras cabañas, gastronomía de primera y servicios diseñados para tu confort. Ven y vive la magia del invierno en un lugar donde la aventura y la tranquilidad se encuentran ☃️</p>
  </section>
  