---
import "../styles/Gallery.css";
---

<section id="gallery" class="gallery">
	<img src="/images/nieve1.webp" alt="Paisaje nevado 1">
	<img src="/images/nieve2.webp" alt="Paisaje nevado 2">
	<img src="/images/nieve3.webp" alt="Paisaje nevado 3">
	<img src="/images/nieve4.webp" alt="Paisaje nevado 4">
	<img src="/images/nieve5.webp" alt="Paisaje nevado 5">
	<img src="/images/nieve6.webp" alt="Paisaje nevado 6">
	<img src="/images/nieve7.webp" alt="Paisaje nevado 7">
	<img src="/images/nieve8.webp" alt="Paisaje nevado 8">
	<img src="/images/nieve12.webp" alt="Paisaje nevado 9">
	<img src="/images/nieve10.webp" alt="Paisaje nevado 10">
	<img src="/images/nieve11.webp" alt="Paisaje nevado 11">
	<img src="/images/nieve9.webp" alt="Paisaje nevado 12">
</section>