---
import "../styles/Gallery.css";
---

<section id="gallery" class="gallery">
	<img src="/public/images/nieve1.webp">
	<img src="/public/images/nieve2.webp">
	<img src="/public/images/nieve3.webp">
	<img src="/public/images/nieve4.webp">
	<img src="/public/images/nieve5.webp">
	<img src="/public/images/nieve6.webp">
	<img src="/public/images/nieve7.webp">
	<img src="/public/images/nieve8.webp">
	<img src="/public/images/nieve12.webp">
	<img src="/public/images/nieve10.webp">
	<img src="/public/images/nieve11.webp">
	<img src="/public/images/nieve9.webp">
</section>